<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section 
      name="StartupFolders" 
      type="ConfigSectionTester.StartupFoldersConfigSection, ConfigSectionTester"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Path" value="./users.xml"/>
    <add key="SlavesNumber" value="5"/>
  </appSettings>
  <system.diagnostics>
    <switches>
      <add name="Data" value="1" />
    </switches>
  </system.diagnostics>
  <StartupFolders>
    <Folders>
      <add folderType="A" path="c:\foo" />
      <add folderType="B" path="C:\foo1" />
    </Folders>
  </StartupFolders> 
</configuration>